@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories List";
}

<h2>Categories List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Category</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryPhotoPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentCategory.ParentCategoryName)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.CategoryPhotoPath))
                    {
                        <img src="@Url.Content(item.CategoryPhotoPath)" alt="@item.CategoryName" width="100" height="100" />
                    }
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
