@model IEnumerable<Product>

<a class="btn btn-primary" asp-action="Create" asp-controller="Product">Yeni Urun</a>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(p => p.Id)</td>
                <td>@Html.DisplayNameFor(p => p.Brand)</td>
                <td>@Html.DisplayNameFor(p => p.Category.CategoryName)</td>
                <td>@Html.DisplayNameFor(p => p.Description)</td>
                <td>@Html.DisplayNameFor(p => p.Price)</td>
                <td>@Html.DisplayNameFor(p => p.Color)</td>
                <td>Kategoriler</td>

            </tr>
        </thead>
        <tbody>
            @foreach (var urun in Model)
            {
                <tr>
                    <td>@urun.Id</td>
                    <td>@urun.Brand</td>
                    <td>@urun.Category.CategoryName</td>
                    <td>@urun.Description</td>
                    <td>@urun.Price</td>
                    <td>@urun.Color</td>
                    <td>
                        <a class="btn btn-success"
                           asp-action="KategoriYonet2"
                           asp-route-id="@urun.Id">Kategoriler</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-danger"> Kayit Yok </p>
}
