@model IEnumerable<Product>

<a class="btn btn-primary" asp-action="Create" asp-controller="Product">Yeni Urun</a>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Marka</td>
                <td>Kategori</td>
                <td>Üst Kategori</td>
                <td>Açıklama</td>
                <td>Fiyat</td>
                <td>Renk</td>
                <td>SİL</td>
                <td>GÜNCELLE</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var urun in Model)
            {
                <tr>
                    <td>@urun.Id</td>
                    <td>@urun.Brand</td>
                    <td>@urun.Category.CategoryName</td>
                    <td>@urun.ParentCategory.ParentCategoryName</td>
                    <td>@urun.Description</td>
                    <td>@urun.Price</td>
                    <td>@urun.Color</td>
                    <td>
                        <form method="post" asp-action="Delete" asp-route-id="@urun.Id">
                            <button type="submit" class="btn btn-outline-danger">Sil</button>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-outline-info"
                           asp-action="Update"
                           asp-route-id="@urun.Id">Güncelle
                       </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-danger"> Kayit Yok </p>
}